/*body {
  margin: 0;
  background:white;
  height:100px;
}

.navbar{
    background:#2b6683;
    color:white;
    text-decoration-color:none;
    font-size:1.2rem;
    font-weight:100;
    float:right;
    text-transform:uppercase;  
}
*/
.xabiso{
    padding-left: 2px;
}
.home{
    background-color: ghostwhite;
}
/*
.home{
    background-image:url('../images/office.jpg');
    background-attachment:fixed;
    height:100%;
   */
    /*min-height:550px;
    margin-top:2px;
    margin-bottom:3px;
        */     

