@{
    ViewData["Title"] = "Contact";
}
<div class="panel panel-success">
    <div class="jumbotron panel-heading text-center">
        CONTACT DETAILS
        <h5>Developers @ViewData["Title"] details.</h5>
    </div>   
    <div class="col-md-offset-1">
        <address>
            University way<br />
            Summerstrand, Port Elizabeth, 6001<br />
            <abbr title="Phone">P:</abbr>
            078 141 8589
        </address>

        <address>
            <strong>Personal Email:</strong> <a href="okxabisohila@gmail.com">okxabisohila@gmail.com</a><br />
            <strong>Work Email:</strong> <a href="s213380897@nmmu.ac.za">s213380897@nmmu.ac.za</a>
        </address>
    </div>
</div>