@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
}
<br />
    <div class="jumbotron text-center center-block">

        <h2><b>Welcome to Upnoid</b></h2>

    </div>
    <div class="row">

        <div class="myPicture text-center center-block">
            <a>
                <img class="activator" src="~/images/Website underconstruction.jpg" style="width:50%; height:auto" />
            </a>
        </div>
    </div>
